*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f8ff;
}
div.main{
    width: 1420px;
    height: 1080px;
    border: solid 1px #b7c4ca ;
    margin: 0 auto;
}
/* 头部 */
nav{
    width: 1420px;
    height: 120px;
    border: solid 2px #000 ;
}
nav h1{
    font-size: 35px;
    padding-top:1px ;
    font-weight: bold;
    border: dashed 2px #000 ;
}
nav span{
    font-size: 20px;
    border: solid 2px #000 ;
    float: left;
    padding-top: 5px;
    margin-right: 20px;
}
nav p{
    font-size: 12px;
    border: dashed 2px #000 ;
    color: rgb(58, 22, 22);
}